<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>

    <h1> Welcome <%=userprofile.fName%> </h1>

    <label for="Email">Email :</label>
    <h3><%= userprofile.Email %> </h3>
    <label for="Mobile Number">Mobile Number :</label>
    <h3><%= userprofile.mobileNum %> </h3>
    
</body>
</html>