<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Missing People</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap" rel="stylesheet">


</head>


<body>
  <header id="home" class=" ">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container-fluid">
        <div class="row1"> 
        <a class="navbar-brand style" href="/">Missing People</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
          
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="row2" >
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 p-1">
            <li class="nav-item">
              <a class="nav-link  m-2 here" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link m-2" aria-current="page" href="/Feeds">Feeds</a>
            </li>

            <li id="dropdown" class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle m-2" href="#" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
                Reports
              </a>
              <div id="dropdowncontent" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/report/missing">Missing People</a>
                <a class="dropdown-item" href="/report/find">Find People</a>
              </div>
            </li>

 
            <li class="nav-item">
            <a class="nav-link m-2 " aria-current="page" href="/search">search</a>
            </li>


          </ul>
            </div>
        
<!-- 
          <div id="regestration" class="regestration ">
            <ul class="navbar-nav mb-2 mb-lg-0 p-1">
              <li class="nav-item">
                <a class="nav-link " href="../Task 1/index.html" target="_blank" id="LOG-IN">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  " href="../Task 1/index.html" target="_blank" id="SIGN-UP">Sign Up</a>
              </li>
            </ul>
          </div> -->

          <div class="row3">
          <div class="collapse navbar-collapse  right" id="navbar-list-4">
            <div id="icon" class="icon">
              <a href="#"><i class="fa fa-bell"></i></a>
            </div>

            <ul class="navbar-nav">
              <li id="dropdown" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" 
                  aria-haspopup="true" aria-expanded="false">
                  <img src="../Task 2/img/IMG-20211022-WA0017.jpg" width="40" height="40" class="rounded-circle">
                </a>
                <div id="dropdowncontent" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/profile">Edit Profile</a>
                  <a class="dropdown-item" href="/loginpage">Log Out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>






        </div>
      </div>
    </nav>



  </header>





  <section class="search  " id="search">

    <div class="container  ">
      <div class="row align-items-center">
        <div class="col-8">
          <div class="row">
            <div class=" col-8">

              <div class="search-info  ">
                <h2 class="h22 text-center bg-black bg-opacity-25 m-1 p-1 text-danger  ">Search</h2>
                <form>
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your first name...">
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name...">
                  <label for="age">Age</label>
                  <br />
                  <input type="number" id="age" name="age" placeholder="Age (e.g. 25)" />
                  <br />
                  <br>

                  <fieldset data-role="controlgroup">
                    <legend>Choose your gender:</legend>
                    <label for="male">Male</label>
                    <input type="radio" name="gender" id="male" value="male">
                    <label for="female">Female</label>
                    <input type="radio" name="gender" id="female" value="female">
                  </fieldset>
                  <br>

                  <label for="country">Location</label>
                  <br />
                  <select id="country" name="country">
                    <option value="australia">Select The country </option>
                    <option value="australia">Cairo</option>
                    <option value="canada">Alexandria</option>
                    <option value="usa">Qalubia</option>
                  </select>

                  <select id="city" name="city">
                    <option value="australia">Select The city </option>
                    <option value="australia">El Tagam3</option>
                    <option value="canada">Vectoria</option>
                    <option value="usa">Shibin</option>
                  </select>

                  <br>

                  <input type="submit" value="Search">
                </form>
              </div>
            </div>
            <div class="search-img col-4">

              <div id="image" class=" column ">
                <input type='file' accept="image/*" onchange="loadFile(event);" />
                <img src="" id="outputimage" alt="Your image" style="width: 200px; ">

              </div>

            </div>
          </div>

        </div>
        <div class="result col-4">

          <div class="result-info ">
            <img src="" alt="">
            <div class="result-caption ">
              <h4 class=" text-center">Ahmed Mahmoud</h4>
              <p>" age: 10 gender: male "</p>

            </div>
            <div class="result-comment">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elito illum quas.</p>
            </div>

          </div>





        </div>
      </div>
    </div>

  </section>














  <section class="b-page">
    <div class="col-12 mt-4"></div>
    <footer>
      <p>
        Created with by My Team <i class="fa fa-heart"></i>
      </p>
    </footer>
  </section>

  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>