<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/newuser" method="POST">
        <div>
        <label for="fName">First Name</label>
        <input type="text" name="fName" id="fName" placeholder="First Name"  required>
    </div>
    <div>
        <label for="lName">Last Name</label>
        <input type="text" name="lName" id="lName" placeholder="Last Name"  required>
    </div>
    <div>
        <label for="username">username</label>
        <input type="text" name="username" id="username" placeholder="username"  required>
    </div>
<div>
        <label for="mobileNum">Mobile Number</label>
        <input type="text" id="mobileNum" name="mobileNum" placeholder="Mobile number" required>
    </div>
        <label for="Email">Email</label>
        <input type="text" id="Email" name="Email" placeholder="Email"  required>
<div>
        <label for="Password">Password</label>
        <input type="Password" id="Password" name="Password" placeholder="Password"  required>
    </div>
    <div>
        <label for="nationalId">National Id</label>
        <input type="text" id="nationalId" name="nationalId" placeholder="National Id"  required> 
    </div>
    <div>
        <label for="birthDate">Birth Date</label>
        <input type="date" id="birthDate" name="birthDate" placeholder="Birth Date"  required>
    </div>
        <button>SignUp</button>
    </form>
</body>
</html>
